.font-sz-1-0 {
  font-size: 1rem;
}
.font-sz-1-5 {
  font-size: 1.5rem;
}
.font-sz-2-0 {
  font-size: 2rem;
}
.font-sz-2-5 {
  font-size: 2.5rem;
}
.font-sz-3-0 {
  font-size: 3rem;
}
.font-sz-3-5 {
  font-size: 3.5rem;
}
